body{
    background-color: black;
    color: azure;
    
}
h1{
    color: yellow;
}
#specialfont{
    font-family: 'Montserrat', sans-serif;

}

.navigation{
    display: flex;
    justify-content: center;
}

.navigation-item{
    padding: 10px;


}
h2{
    color:aliceblue;

}

header{
    padding: 5px;
    background-color: gray;
    border: 3px white solid;
    text-align: center;
    color: aqua; 
}