body{
    background-color: #FFF5AD;
    color: #0E5996;
    
}
h1{
    color: #001021;
}
#specialfont{
    font-family: 'Montserrat', sans-serif;

}

.navigation{
    display: flex;
    justify-content: center;
}

.navigation-item{
    padding: 10px;


}
h2{
    color:#001021;

}

header{
    padding: 5px;
    background-color: #FF99C9;
    border: 3px solid #000000;
    text-align: center;
    color: #001021; 
}

footer{
    padding: 5px;
    background-color: #FF99C9;
    border: 3px solid #A2C7E5;
    text-align: center;
    color: #001021; 
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-item{
padding: 10px;
}

.course{
    border-bottom: 2px solid #A2C7E5 ;
}
.course-attribute{
    padding: 5px;
    }


@media screen and (min-width:600px){

.course{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}


.course-name{
    grid-column: 1;
    grid-row: 1;
}
.course-semester{
    grid-column: 1;
    grid-row: 3;   
}
.course-description{
    grid-column: 2;
    grid-row: 2; 
}
}